<!-- Hello World Angular <br>
This is my {{ title }} <br>
My village ninja's nmae is {{ ninjaName }}

<button type="button" (click)="ninjaConsole()">Console Ninja</button>
<div>
  <button type="button" (click)="cahngeNinjaName('Sakura')">Change Ninja Name to Sakura</button>
  <button type="button" (click)="cahngeNinjaName('Sasuke')">Change Ninja Name to Sasuke</button>
  <button type="button" (click)="cahngeNinjaName('Naruto')">Change Ninja Name to Naruto</button>
</div> -->

<!-- <span>มา 4 คน จ่าย 3</span>
<div>
  <input #priceBuffetInput type="text" value="" placeholder="ราคาบุเฟต์">
  <button type="button" (click)="calBuffet(priceBuffetInput.value)">คำนวณ</button>
</div>
<span>คนละ {{ value }} บาท</span> -->

<app-action-bar [step]="5"></app-action-bar>
<app-action-bar [step]="10"></app-action-bar>