<!-- 1 ------------------------------------------------------------------------------------ -->

<!-- Hello World Angular <br>
This is my {{ title }} <br>
My village ninja's nmae is {{ ninjaName }}

<button type="button" (click)="ninjaConsole()">Console Ninja</button>
<div>
  <button type="button" (click)="cahngeNinjaName('Sakura')">Change Ninja Name to Sakura</button>
  <button type="button" (click)="cahngeNinjaName('Sasuke')">Change Ninja Name to Sasuke</button>
  <button type="button" (click)="cahngeNinjaName('Naruto')">Change Ninja Name to Naruto</button>
</div> -->

<!-- 2 ------------------------------------------------------------------------------------ -->

<!-- <span>มา 4 คน จ่าย 3</span>
<div>
  <input #priceBuffetInput type="text" value="" placeholder="ราคาบุเฟต์">
  <button type="button" (click)="calBuffet(priceBuffetInput.value)">คำนวณ</button>
</div>
<span>คนละ {{ value }} บาท</span> -->

<!-- 3 ------------------------------------------------------------------------------------ -->
<!-- <app-action-bar (numberChange)="testNumberChange($event)" [step]="5"></app-action-bar>
<app-action-bar (numberChange)="testNumberChange($event)" [step]="10"></app-action-bar>

<button type="button" (click)="testClick()">testEventBinding</button> -->
<!-- (numberChange)="", (click)="" => event binding -->

<!-- 4 ------------------------------------------------------------------------------------ -->
<!-- <app-max-min-meter [minLabel]="appMinLabel" [maxLabel]="appMaxLabel" (minChange)="doAppMinChange($event)"
  (maxChange)="doAppMaxChange($event)"></app-max-min-meter> -->

<!-- 5 ------------------------------------------------------------------------------------ -->
<!-- <app-sqaure-flex [divHeight]="squareHeight" [divWidth]="squareWidth"></app-sqaure-flex>
<div>
  width:
  <button type="button" (click)="squareWidth = 50">50px</button>
  <button type="button" (click)="squareWidth = 100">100px</button>
  <button type="button" (click)="squareWidth = 200">200px</button>
</div>
<div>
  height:
  <button type="button" (click)="squareHeight = 50">50px</button>
  <button type="button" (click)="squareHeight = 100">100px</button>
  <button type="button" (click)="squareHeight = 200">200px</button>
</div> -->

<!-- 6 ------------------------------------------------------------------------------------ -->
<!-- <app-action-bar [counter]="appCounter" (couterChange)="appCounter = $event"></app-action-bar>
<app-sqaure-flex [divWidth]="appCounter"></app-sqaure-flex> -->

<!-- <div *ngIf="activate">
  <app-action-bar></app-action-bar>
</div>
<button type="button" (click)="activate = !activate">activate</button> -->

<!-- <app-action-bar [inputDisplay]="activate"></app-action-bar>
<app-action-bar [inputDisplay]="true"></app-action-bar>
<button type="button" (click)="activate = !activate">activate</button> -->

<!-- 7 ------------------------------------------------------------------------------------ -->
<ul>
  <li *ngFor="let customer of cutomerList; let i = index">{{ customer }}
    <button type="button" (click)="removeCustomer(i)">remove</button>
  </li>
</ul>

<button type="button" (click)="pushCustomer()">push</button>
<button type="button" (click)="unShiftCustomer()">unShift</button>
<button type="button" (click)="popCustomer()">pop</button>